<section id="assigner" class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="card">
        <div class="card__header">
          <form action="" method="get" accept-charset="utf-8">
            <div class="form-group">
              <input type="text" class="form-control input-lg" id="" placeholder="What would you like to get done?" autofocus>
            </div>
          </form>
        </div>
        <div class="card__body">
          <aside class="task-time">
            <div class="btn-group btn-group-justified">
              <div class="btn-group">
                <button type="button" class="btn btn-warning active">Today</button>
              </div>
              <div class="btn-group">
                <button type="button" class="btn btn-info">Tomorrow</button>
              </div>
              <div class="btn-group">
                <button type="button" class="btn btn-info">Later</button>
              </div>
            </div>
          </aside>
          <aside class="task-slider">
            <div class="slider-wrapper">
              <input type="text" class="js-hiderange">
            </div>
          </aside>
        </div>
        <div class="card__footer">
          <button type="button" class="btn btn-success btn-lg btn-block"><i class="glyphicon glyphicon-ok-sign"></i> Save & Add New</button>
        </div>
      </div>
    </div>
  </div>
</section>

<hr>

<section id="assignee-task" class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="card">
        <div class="card__header">
          <h2 class="card__title">Title of the Card</h2>
        </div>
        <div class="card__body">
          <aside class="items">
            <ul class="items__list list-unstyled">
              <li><a href=""><i class="glyphicon glyphicon-chevron-right"></i> Pharetra Magna Sollicitudin Sit Ipsum</a></li>
              <li><a href=""><i class="glyphicon glyphicon-chevron-right"></i> Ornare Malesuada Sem Purus Cursus</a></li>
              <li><a href=""><i class="glyphicon glyphicon-chevron-right"></i> Venenatis Inceptos Pharetra Ornare</a></li>
              <li><a href=""><i class="glyphicon glyphicon-chevron-right"></i> Condimentum Ultricies Ornare Quam</a></li>
              <li><a href=""><i class="glyphicon glyphicon-chevron-right"></i> Pharetra Malesuada Fringilla Dolor</a></li>
              <li><a href=""><i class="glyphicon glyphicon-chevron-right"></i> Cras Egestas Nibh</a></li>
              <li><a href=""><i class="glyphicon glyphicon-chevron-right"></i> Ullamcorper Fusce Dapibus Fringilla</a></li>
            </ul>
          </aside>
        </div>
        <div class="card__footer">
          <div class="btn-group btn-group-justified">
            <div class="btn-group btn-group-lg"><button type="button" class="btn btn-warning"><i class="glyphicon glyphicon-remove-sign"></i> Cancel</button></div>
            <div class="btn-group btn-group-lg"><button type="button" class="btn btn-success"><i class="glyphicon glyphicon-ok-sign"></i> Save</button></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<hr>

<section id="assignee-task-item" class="container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="card card__stacks">
          <div class="card__header">
            <h2 class="card__title">Task that I have to do</h2>
          </div>
          <div class="card__body">
            <aside class="item__timer">
              25
            </aside>
          </div>
          <div class="card__footer">
            <div class="btn-group btn-group-justified">
              <div class="btn-group btn-group-lg"><button type="button" class="btn btn-warning"><i class="glyphicon glyphicon-remove-sign"></i> Cancel</button></div>
              <div class="btn-group btn-group-lg"><button type="button" class="btn btn-success"><i class="glyphicon glyphicon-ok-sign"></i> Done</button></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<hr>
