$items-spacing: $padding-base-vertical;
$items-color: $color-brand-dark;

.items {}

.items__list {

  li {}

  a {
    display: block;
    padding: $items-spacing*2 $items-spacing;
    color: $items-color;
    text-decoration: none;
    border-bottom: 1px solid $color-gray-lighter;

    &:hover, &:focus {
      color: $color-brand-primary;
      background: $color-gray-lighter;
      border-color: $color-gray;
      text-decoration: none;
    }
  }

  i {
    color: lighten($items-color, 50%);
    margin-right: $items-spacing;
  }
}

.item__timer {
  font-family: $font-family-serif;
  background: $color-brand-primary;
  border-radius: $border-radius-base;
  color: $white;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 1px 1px;
  font-size: $font-size-h1*5;

  .progress-bar {
    height: 100px !important;
    text-align: center !important;
  }
}
