<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>SimpleDone</title>

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,500,700,300,400italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="assets/normalize.css">
<link rel="stylesheet" href="assets/application.css">

<!-- Franlin Css -->
<link rel="stylesheet" type="text/css" href="assets/style.css">
<link rel="stylesheet" type="text/css" href="assets/sweet-alert.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
</head>
<body>

<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="logo">
          <a href="./" title="SimpleDone"><img src="assets/simpledone-logo.png" alt="SimpleDone"></a>
        </div>
      </div>
    </div>
  </div>
</header>

<%=yield %>

<script src="assets/jquery.js"></script>
<script src="assets/bootstrap.js"></script>

<script src="assets/powerange.js"></script>
<script src="assets/application.js"></script>

<!-- Franklin Scripts --> 
<script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
<script type="text/javascript" src="assets/sweet-alert.js"></script>


</body>
</html>
